<div class="container">
  <h2>Hello, <%= @evaluation.student_name %></h2>

  <% if @evaluation.student_finished? %>

    <% if @just_submitted %>
      <h3>Thanks. Here are your responses:</h3>
    <% else %>
      <h3>Looks like you've already submitted your evaluation request. You entered the following info:</h3>
    <% end %>

    <ul>
      <li>Student Type: <b><%= @evaluation.student_type %></b></li>
      <li>Hostpital: <b><%= @evaluation.hospital %></b></li>
      <li>Provider: <b><%= @evaluation.provider.name %></b></li>
    </ul>

  <% else %>

    <h3>Please fill out the following form. The provider you select will be asked to fill out an evaluation of your performance.</h3>

    <%= semantic_form_for @evaluation, url: { action: 'student_submit' } do |f| %>
      <%= f.inputs name: "Basic info for #{@evaluation.student_name}" do %>
        <%= f.semantic_errors %>
        <%= f.input :student_type, as: :radio, collection: @student_types %>
        <%= f.input :hospital, as: :radio, collection: @hospitals %>
        <%= f.input :provider, hint: 'this person will evaluate you' %>
      <% end %>
      <%= f.actions do %>
        <%= f.action :submit, label: 'Submit' %>
      <% end %>
    <% end %>

  <% end %>
</div>
