<% title "Evaluation for #{@evaluation.student.name}" %>

<h2>Sinai Health Systems Student Evaluations</h2>

<h3><%= @provider.name %></h3>
<hr>

<h3 style="display:inline-block">Student: <b><%= @evaluation.student.name %></b></h3>
<div style="float:right">
<i>requested <%= @evaluation.created_at.to_s(:short) %></i>
</div>

<%= form_for @evaluation, url: { action: 'submit_evaluation' } do |f| %>

  <% @rubric.metric_types.each do |metric_type| %>
    <table class="evaluation table-bordered">
      <thead>
        <tr>
          <th></th>
          <% Rubric.options_for_metric_type(metric_type).each do |opt| %>
            <th><%= opt[:desc] %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>

      <% @rubric.metrics_of_type(metric_type).each do |metric| %>
        <tr>
          <td>
            <div class="title"><%= metric.title %></div>
            <div class="desc"><%= metric.description %></div>
            <div class="error"><%= metric.error %></div>
          </td>
          <% metric.options.each do |opt| %>
            <td class="option">
              <label><input type="radio" <%= 'checked="checked"' if metric.grade == opt[:value] %>
                      name="rubric[<%= metric.identifier.to_s %>]" value="<%= opt[:value] %>"/><br><%= opt[:desc] %></label>
            </td>
          <% end %>
        </tr>
      <% end %>

      </tbody>
    </table>
  <% end %>

  <div class="comments">
    <%= label(:comments, "Additional Comments:") %>
    <br>
    <%= f.text_area(:comments, rows: 6) %>
    <br>
  </div>

  <% if @evaluation.persisted? %>
    <%= f.submit "Submit Evaluation" %>
  <% else %>
    <%= f.submit "Submit Evaluation",  disabled: true %>
    <%= link_to('Return to admin dashboard', admin_root_path) %>
  <% end %>

<% end %>
