<h2>Sinai Health Systems Student Evaluations</h2>

<%= semantic_form_for @student, url: { action: 'update_profile' } do |f| %>
  <%= f.inputs name: "Edit student profile" do %>
    <%= f.semantic_errors %>
    <%= form_string_row 'Name', @student.name, 'cannot be changed' %>
    <%= form_string_row 'Email', @student.email, 'cannot be changed' %>
    <%= f.input :type, as: :radio, collection: @student_types %>
    <%= f.input :hospital, as: :radio, collection: @hospitals %>
    <%= f.input :avatar_url, as: :hidden %>
    <%= form_string_row 'Picture', '<div id="avatar_area">Loading...</div>',
      (@student.errors[:avatar_url].present? && 'required to help providers identify you') %>
  <% end %>

  <%= f.actions do %>
    <% if @student.persisted? %>
      <%= f.action :submit, label: 'Submit' %>
    <% else %>
      <%= f.action :submit, label: 'Submit', button_html: { disabled: true } %>
      <%= link_to('Return to admin dashboard', admin_root_path) %>
    <% end  %>
  <% end %>
<% end %>

<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

<script type="text/javascript">
var avatarUrl = "<%= @student.avatar_url || '' %>";

var launchCloudinary = function () {
  cloudinary.openUploadWidget({
    cloud_name: 'sinaievaluations',
    upload_preset: '100x100avatar',
    cropping: 'server',
    cropping_aspect_ratio: 1,
    cropping_default_selection_ratio: 0.8,
    client_allowed_formats: ['png', 'jpg', 'jpeg', 'gif'],
    // max_file_size: 2 * 1024 * 1024, // 2MB
  }, function(error, result) {
    // console.log(error, result);
    if (result) {
      var url = result[0].url;
      document.getElementById("student_avatar_url").value = url;
      showImage(url);
    }
  });
}

var avatarArea = document.getElementById("avatar_area");

function replaceAvatarArea (callback) {
  var avatarAreaContainer = avatarArea.parentNode;
  avatarAreaContainer.removeChild(avatarArea);
  avatarArea = document.createElement("div");
  callback(avatarArea);
  avatarAreaContainer.appendChild(avatarArea);
}

function showImage (url) {
  replaceAvatarArea(function(container) {
    var img = document.createElement("img");
    img.src = url;
    img.style.paddingRight = '5px';
    container.appendChild(img);
    container.appendChild(createTriggerLink('Change'));
  });
}

function showNoImage () {
  replaceAvatarArea(function(container) {
    // container.appendChild(createTriggerLink('Click to Add'));
    var button = document.createElement('button');
    button.type = 'button';
    button.addEventListener('click', launchCloudinary, false);
    button.innerHTML = "Click to Add";
    button.style.padding = '8px';
    button.style.backgroundColor = '#3B99FC';
    button.style.color = '#FFF';
    container.appendChild(button);
  });
}

function createTriggerLink (text) {
  var a = document.createElement("a");
  a.href = '#';
  a.addEventListener('click', launchCloudinary, false);
  a.innerHTML = text;
  return a;
}

if (avatarUrl.length) {
  showImage(avatarUrl);
} else {
  showNoImage();
}
</script>
